<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="raceCharacterForm" label="Race">
    <form [formGroup]="raceCharacterForm">
      <mat-form-field color="accent">
        <mat-select placeholder="Choose race" formControlName="race" (selectionChange)="onRaceChange($event)">
          @for (race of races; track race.index) {
            <mat-option [value]="race.index">{{ race.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (selectedRaceDetail?.subraces?.length) {
        <mat-form-field color="accent">
          <mat-select placeholder="Select subrace" formControlName="subrace" (selectionChange)="onSubraceChange($event)">
            <mat-option value=""></mat-option>
            @for (subrace of selectedRaceDetail?.subraces; track subrace.name) {
              <mat-option [value]="subrace.index">{{ subrace.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </form>

    <app-race-details
      [traits]="traits"
      [selectedRaceDetail]="selectedRaceDetail"
      [selectedSubrace]="selectedSubrace"></app-race-details>

    <button mat-button matStepperNext [disabled]="raceCharacterForm.invalid">Next</button>
  </mat-step>
  <mat-step [stepControl]="nameCharacterForm" label="Name and gender">
    <form [formGroup]="nameCharacterForm">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
    </form>
    <button mat-button matStepperNext [disabled]="nameCharacterForm.invalid">Next</button>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Step 3">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
  </mat-step>
</mat-stepper>
