form {
  display: flex;
  flex-direction: column;
  margin-top: 8px;

  mat-form-field {
    width: 300px;
  }

  .input-with-info-tooltip {
    display: flex;
    flex-direction: row;
  }
}

.action-buttons {
  margin-top: 8px;
}

.ability-scores-mode-selection {
  display: flex;
  flex-direction: row;

  .ability-scores-buttons {
    width: 300px;
  }

  .ability-scores-info {
    margin-left: 16px;
  }
}

.ability-scores {
  display: flex;
  flex-direction: row;

  .ability-scores-summary {
    margin-left: 16px;
  }
}

.ability-scores-buttons {
  display: flex;
  flex-direction: column;

  app-info-tooltip {
    vertical-align: sub;
  }
}

.ability-scores-radio-group {
  display: flex;
  flex-direction: column;
}

.personal-characteristics-form {
  form {
    .characteristic-row {
      display: flex;
      flex-direction: row;

      .example {
        margin-left: 16px;
        padding-top: 15px;

        app-info-tooltip {
          vertical-align: sub;
        }
      }
    }
  }
}

.sections-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;

  .section {
    width: 400px;
  }

  .right-section {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #e0e0e0;
  }
}
