<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="raceCharacterForm" label="Rasa">
    <form [formGroup]="raceCharacterForm">
      <mat-form-field color="accent">
        <mat-select placeholder="Wybierz rasę" formControlName="race" (selectionChange)="onRaceChange($event)">
          @for (race of races; track race.index) {
            <mat-option [value]="race.url">{{ race.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (selectedRaceDetail?.subraces?.length) {
        <mat-form-field color="accent">
          <mat-select placeholder="Wybierz podrasę" formControlName="subrace" (selectionChange)="onSubraceChange($event)">
            <mat-option value=""></mat-option>
            @for (subrace of selectedRaceDetail?.subraces; track subrace.name) {
              <mat-option [value]="subrace.url">{{ subrace.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    </form>

    @if (selectedRaceDetail) {
      <div class="race-description">
        <p>{{selectedRaceDetail.alignment}}</p>

        <h3>Traits</h3>
        @for (trait of selectedRaceDetail.traits; track trait.name) {
          <p>{{trait.name}}</p>
        }
        <div class="ability-bonuses">
          <h3>Ability Bonuses</h3>
          @for (ability_bonus of selectedRaceDetail.ability_bonuses; track ability_bonus.ability_score.name) {
            <p>{{ability_bonus.ability_score.name}} +{{ability_bonus.bonus}}</p>
          }
          @for (ability_bonus of selectedSubrace?.ability_bonuses; track ability_bonus.ability_score.name) {
            <p>{{ability_bonus.ability_score.name}} +{{ability_bonus.bonus}}</p>
          }

          @if (selectedRaceDetail.ability_bonus_options) {
            <h3>Ability Bonus Options</h3>
            <p>You can choose to increase your ability scores
              from the following ability scores:
              @for (option of selectedRaceDetail.ability_bonus_options.from.options; track option.ability_score.name) {
                {{ option.ability_score.name }} +{{ option.bonus }},
              }
              ({{selectedRaceDetail.ability_bonus_options.choose}} total)
            </p>
          }
        </div>
      </div>
    }


    @if (selectedSubrace) {
      <div class="subrace-description">
        <p>{{selectedSubrace.desc}}</p>

        <h3>Traits</h3>
        @for (trait of selectedSubrace.racial_traits; track trait.name) {
          <p>{{trait.name}}</p>
        }
      </div>
    }

    <button mat-button matStepperNext [disabled]="raceCharacterForm.invalid">Next</button>
  </mat-step>
  <mat-step [stepControl]="nameCharacterForm" label="Name and gender">
    <form [formGroup]="nameCharacterForm">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
    </form>
    <button mat-button matStepperNext [disabled]="nameCharacterForm.invalid">Next</button>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Step 3">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
  </mat-step>
</mat-stepper>
