form {
  display: flex;
  flex-direction: column;
  margin-top: 8px;

  mat-form-field {
    width: 300px;
  }
}

.action-buttons {
  margin-top: 8px;
}

.ability-scores {
  display: flex;
  flex-direction: row;

  .ability-scores-info {
    margin-left: 16px;
  }
}

.ability-scores-buttons {
  display: flex;
  flex-direction: column;

  app-info-tooltip {
    vertical-align: sub;
  }
}

.ability-scores-radio-group {
  display: flex;
  flex-direction: column;
}
