<mat-toolbar>
  <div class="header-left-side">
    <span>My Application</span>
  </div>
  <div class="header-right-side">
    @if (isLoggedIn()) {
      <div class="header-tab" routerLinkActive="active-link"
           routerLink="/campaigns">Campaigns</div>
    }
    <button mat-icon-button color="accent" aria-label="Create an account">
      <mat-icon>person_add</mat-icon>
    </button>
    @if (isLoggedIn()) {
      <button (click)="logout()" mat-icon-button color="accent" aria-label="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    } @else {
      <button (click)="login()" mat-icon-button color="accent" aria-label="Login">
        <mat-icon>login</mat-icon>
      </button>
    }

    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
