<button mat-raised-button routerLink="/players">Back</button>
<button mat-raised-button color="accent" (click)="saveCharacter()">Save</button>

@if (initialValues) {
  <form [formGroup]="characterSheetForm">
    <mat-tab-group animationDuration="0ms" color="accent">
      <mat-tab label="First" bodyClass="tab-content">
        <div class="character-sheet-container">
          <div class="row character-details-header">
            <div class="character-name-column">
              <div class="d-and-d-page-title">D&amp;D</div>
              <div class="attribute-collection character-name"><input type="text" formControlName="name" [value]="initialValues.name">
              </div>
              <label style="width: 100%; text-align: right; text-transform: uppercase; font-size: 11px;">Character
                Name</label>
            </div>
            <div class="character-details-column">
              <div class="attribute-collection">
                <div class="row padding-left-right">
                  <div class="class-and-level-inputs"><input type="text" formControlName="className" [value]="initialValues.className"> <input
                    type="text" [value]="initialValues.level"><label>Class &amp; Level</label></div>
                  <div class="col-md-3 pl-0 pr-0"><input type="text" formControlName="background"
                                                         [value]="initialValues.background"><label>Background</label></div>
                  <div class="col-md-3 pl-0 pr-0"><input type="text" value=""><label>Player Name</label></div>
                </div>
                <div class="row padding-left-right">
                  <div class="col-md-3 pl-0 pr-0"><input type="text" [value]="getRaceName()"><label>Race</label></div>
                  <div class="col-md-3 pl-0 pr-0"><input type="text" formControlName="alignment"
                                                         [value]="initialValues.alignment"><label>Alignment</label></div>
                  <div class="col-md-3 pl-0 pr-0"><input type="text" formControlName="experiencePoints" [value]="initialValues.experiencePoints"><label>Experience
                    Points</label></div>
                </div>
              </div>
            </div>
          </div>

          <div class="row character-statistics-container">
            <div class="character-statistics-column">
              <div class="row">
                <div class="ability-scores-column">
                  <form [formGroup]="abilityScoresForm">
                    <div class="d-and-d-box gray">
                      <div>
                        <div class="d-and-d-statbox"><label>Strength</label>
                          <div class="d-and-d-statbox-modifier">{{ displayModifier(strengthModifier()) }}</div>
                        </div>
                        <div class="d-and-d-statbox-value"><input type="text" formControlName="strength"></div>
                      </div>
                      <div>
                        <div class="d-and-d-statbox"><label>Dexterity</label>
                          <div class="d-and-d-statbox-modifier">{{ displayModifier(dexterityModifier()) }}</div>
                        </div>
                        <div class="d-and-d-statbox-value"><input type="text" formControlName="dexterity"></div>
                      </div>
                      <div>
                        <div class="d-and-d-statbox"><label>Constitution</label>
                          <div class="d-and-d-statbox-modifier">{{ displayModifier(constitutionModifier()) }}</div>
                        </div>
                        <div class="d-and-d-statbox-value"><input type="text" formControlName="constitution"></div>
                      </div>
                      <div>
                        <div class="d-and-d-statbox"><label>Intelligence</label>
                          <div class="d-and-d-statbox-modifier">{{ displayModifier(intelligenceModifier()) }}</div>
                        </div>
                        <div class="d-and-d-statbox-value"><input type="text" formControlName="intelligence"></div>
                      </div>
                      <div>
                        <div class="d-and-d-statbox"><label>Wisdom</label>
                          <div class="d-and-d-statbox-modifier">{{ displayModifier(wisdomModifier()) }}</div>
                        </div>
                        <div class="d-and-d-statbox-value"><input type="text" formControlName="wisdom"></div>
                      </div>
                      <div>
                        <div class="d-and-d-statbox"><label>Charisma</label>
                          <div class="d-and-d-statbox-modifier">{{ displayModifier(charismaModifier()) }}</div>
                        </div>
                        <div class="d-and-d-statbox-value"><input type="text" formControlName="charisma"></div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="skills-column">
                  <div class="d-and-d-statrow">
                    <div class="d-and-d-statrow-value"><input type="text" formControlName="inspiration" [value]="getInspiration()"></div>
                    <div class="d-and-d-statrow-label"><label>Inspiration</label></div>
                  </div>
                  <div class="d-and-d-statrow rounded">
                    <div class="d-and-d-statrow-value"><span>{{ '+' + proficiencyBonus() }}</span></div>
                    <div class="d-and-d-statrow-label"><label>Proficiency Bonus</label></div>
                  </div>
                  <div class="d-and-d-box">
                    <div style="text-align: left;">
                      <!--              TODO: use for and form control?-->
                      <div class="d-and-d-skill">
                        <div (click)="updateSavingThrowProficiencies('strength')"
                             [ngClass]="{'active': savingThrowProficiencies().strength}" class="d-and-d-skill-circle"></div>
                        <span
                          class="d-and-d-skill-modifier">{{ getSkillModifier('saving_throw', 'strength') }}</span><label>Strength</label>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSavingThrowProficiencies('dexterity')"
                             [ngClass]="{'active': savingThrowProficiencies().dexterity}"
                             class="d-and-d-skill-circle"></div>
                        <span
                          class="d-and-d-skill-modifier">{{ getSkillModifier('saving_throw', 'dexterity') }}</span><label>Dexterity</label>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSavingThrowProficiencies('constitution')"
                             [ngClass]="{'active': savingThrowProficiencies().constitution}"
                             class="d-and-d-skill-circle"></div>
                        <span
                          class="d-and-d-skill-modifier">{{ getSkillModifier('saving_throw', 'constitution') }}</span><label>Constitution</label>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSavingThrowProficiencies('intelligence')"
                             [ngClass]="{'active': savingThrowProficiencies().intelligence}"
                             class="d-and-d-skill-circle"></div>
                        <span
                          class="d-and-d-skill-modifier">{{ getSkillModifier('saving_throw', 'intelligence') }}</span><label>Intelligence</label>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSavingThrowProficiencies('wisdom')"
                             [ngClass]="{'active': savingThrowProficiencies().wisdom}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('saving_throw', 'wisdom') }}</span><label>Wisdom</label>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSavingThrowProficiencies('charisma')"
                             [ngClass]="{'active': savingThrowProficiencies().charisma}" class="d-and-d-skill-circle"></div>
                        <span
                          class="d-and-d-skill-modifier">{{ getSkillModifier('saving_throw', 'charisma') }}</span><label>Charisma</label>
                      </div>
                    </div>
                    <label class="d-and-d-title" style="margin-top: 10px;">Saving Throws</label></div>
                  <div class="d-and-d-box">
                    <div style="text-align: left;">
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('acrobatics')"
                             [ngClass]="{'active': skillsProficiencies().acrobatics}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('acrobatics', 'dexterity') }}</span><label>Acrobatics</label><span
                        class="d-and-d-skill-hint">(Dex)</span>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('animal_handling')"
                             [ngClass]="{'active': skillsProficiencies().animal_handling}"
                             class="d-and-d-skill-circle"></div>
                        <span
                          class="d-and-d-skill-modifier">{{ getSkillModifier('animal_handling', 'wisdom') }}</span><label>Animal
                        Handling</label><span class="d-and-d-skill-hint">(Wis)</span></div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('arcana')"
                             [ngClass]="{'active': skillsProficiencies().arcana}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('arcana', 'intelligence') }}</span><label>Arcana</label><span
                        class="d-and-d-skill-hint">(Int)</span></div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('athletics')"
                             [ngClass]="{'active': skillsProficiencies().athletics}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('athletics', 'strength') }}</span><label>Athletics</label><span
                        class="d-and-d-skill-hint">(Str)</span>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('deception')"
                             [ngClass]="{'active': skillsProficiencies().deception}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('deception', 'charisma') }}</span><label>Deception</label><span
                        class="d-and-d-skill-hint">(Cha)</span>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('history')"
                             [ngClass]="{'active': skillsProficiencies().history}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('history', 'intelligence') }}</span><label>History</label><span
                        class="d-and-d-skill-hint">(Int)</span></div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('insight')"
                             [ngClass]="{'active': skillsProficiencies().insight}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('insight', 'wisdom') }}</span><label>Insight</label><span
                        class="d-and-d-skill-hint">(Wis)</span>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('intimidation')"
                             [ngClass]="{'active': skillsProficiencies().intimidation}" class="d-and-d-skill-circle"></div>
                        <span
                          class="d-and-d-skill-modifier">{{ getSkillModifier('intimidation', 'charisma') }}</span><label>Intimidation</label><span
                        class="d-and-d-skill-hint">(Cha)</span>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('investigation')"
                             [ngClass]="{'active': skillsProficiencies().investigation}" class="d-and-d-skill-circle"></div>
                        <span
                          class="d-and-d-skill-modifier">{{ getSkillModifier('investigation', 'intelligence') }}</span><label>Investigation</label><span
                        class="d-and-d-skill-hint">(Int)</span>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('medicine')"
                             [ngClass]="{'active': skillsProficiencies().medicine}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('medicine', 'wisdom') }}</span><label>Medicine</label><span
                        class="d-and-d-skill-hint">(Wis)</span></div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('nature')"
                             [ngClass]="{'active': skillsProficiencies().nature}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('nature', 'intelligence') }}</span><label>Nature</label><span
                        class="d-and-d-skill-hint">(Int)</span></div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('perception')"
                             [ngClass]="{'active': skillsProficiencies().perception}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('perception', 'wisdom') }}</span><label>Perception</label><span
                        class="d-and-d-skill-hint">(Wis)</span>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('performance')"
                             [ngClass]="{'active': skillsProficiencies().performance}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('performance', 'charisma') }}</span><label>Performance</label><span
                        class="d-and-d-skill-hint">(Cha)</span>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('persuasion')"
                             [ngClass]="{'active': skillsProficiencies().persuasion}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('persuasion', 'charisma') }}</span><label>Persuasion</label><span
                        class="d-and-d-skill-hint">(Cha)</span>
                      </div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('religion')"
                             [ngClass]="{'active': skillsProficiencies().religion}" class="d-and-d-skill-circle"></div>
                        <span
                          class="d-and-d-skill-modifier">{{ getSkillModifier('religion', 'intelligence') }}</span><label>Religion</label><span
                        class="d-and-d-skill-hint">(Int)</span></div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('sleight_of_hand')"
                             [ngClass]="{'active': skillsProficiencies().sleight_of_hand}"
                             class="d-and-d-skill-circle"></div>
                        <span
                          class="d-and-d-skill-modifier">{{ getSkillModifier('sleight_of_hand', 'dexterity') }}</span><label>Sleight
                        of Hand</label><span
                        class="d-and-d-skill-hint">(Dex)</span></div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('stealth')"
                             [ngClass]="{'active': skillsProficiencies().stealth}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('stealth', 'dexterity') }}</span><label>Stealth</label><span
                        class="d-and-d-skill-hint">(Dex)</span></div>
                      <div class="d-and-d-skill">
                        <div (click)="updateSkillsProficiencies('survival')"
                             [ngClass]="{'active': skillsProficiencies().survival}" class="d-and-d-skill-circle"></div>
                        <span class="d-and-d-skill-modifier">{{ getSkillModifier('survival', 'wisdom') }}</span><label>Survival</label><span
                        class="d-and-d-skill-hint">(Wis)</span></div>
                    </div>
                    <label class="d-and-d-title" style="margin-top: 10px;">Skills</label></div>
                </div>
              </div>
              <div class="mt-2">
                <div class="d-and-d-statrow rounded rounded-sides">
                  <div class="d-and-d-statrow-value"><span>{{ getPassiveWisdomPerception() }}</span></div>
                  <div class="d-and-d-statrow-label"><label>Passive Wisdom (Perception)</label></div>
                </div>
              </div>
              <div class="d-and-d-box mt-4"><textarea rows="12"
                                                      [value]="initialValues.otherProficienciesAndLanguages"></textarea>
                <label class="d-and-d-title" style="margin-top: 10px;">Other Proficiencies &amp; Languages</label></div>
            </div>
            <div class="character-statistics-column">
              <div class="d-and-d-box gray">
                <div class="row">
                  <div style="padding-left: 15px" class="width-1-3 pr-2">
                    <div>
                      <div class="d-and-d-statbox type2 shield">
                        <div class="d-and-d-statbox-modifier"><input type="text" formControlName="armorClass" [value]="getArmorClass()"></div>
                        <div class="multiline-label label-container">
                          <label class="label-top">Armour</label>
                          <label>Class</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="width-1-3 pr-2 pl-2">
                    <div>
                      <div class="d-and-d-statbox type2">
                        <div class="d-and-d-statbox-modifier"><input type="text"
                                                                     [value]="displayModifier(dexterityModifier())"></div>
                        <div class="label-container"><label>Initiative</label></div>
                      </div>
                    </div>
                  </div>
                  <div style="padding-right: 15px" class="width-1-3 pl-2">
                    <div>
                      <div class="d-and-d-statbox type2">
                        <div class="d-and-d-statbox-modifier"><input type="text" formControlName="speed" [value]="initialValues.speed"></div>
                        <div class="label-container"><label>Speed</label></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-and-d-box white"
                     style="border-radius: 8px 8px 0 0; margin-bottom: 5px; padding-bottom: 5px;">
                  <div class="d-and-d-gray-text"><label style="width: 95px;">Hit Point Maximum</label><input type="text"
                                                                                                             class="d-and-d-linput"
                                                                                                             [value]="getMaximumHitPoints()"
                                                                                                             style="width: calc(100% - 95px);">
                  </div>
                  <input type="text" class="d-and-d-cinput" formControlName="currentHitPoints" [value]="getCurrentHitPoints()"><label class="d-and-d-title"
                                                                                                   style="margin-top: 5px;">Current
                  Hit Points</label></div>
                <div class="d-and-d-box white mb-2"
                     style="border-radius: 0 0 8px 8px; padding-bottom: 5px; margin-bottom: 5px"><input
                  type="text" class="d-and-d-cinput" formControlName="temporaryHitPoints" [value]="getTemporaryHitPoints()"><label class="d-and-d-title"
                                                                                              style="margin-top: 5px;">Temporary
                  Hit Points</label></div>
                <div class="row mt-1">
                  <div class="width-1-2 pr-1 pl-15">
                    <div class="d-and-d-box white mb-0" style="padding-bottom: 5px; margin-bottom: 0">
                      <div class="d-and-d-gray-text"><label style="width: 25px;">Total</label><input type="text"
                                                                                                     class="d-and-d-linput"
                                                                                                     formControlName="numberOfHitDie"
                                                                                                     style="width: calc(100% - 25px);">
                      </div>
                      <input type="text" class="d-and-d-cinput" [value]="'1d' + initialValues.hit_die"><label class="d-and-d-title"
                                                                                style="margin-top: 5px;">Hit Dice</label>
                    </div>
                  </div>
                  <div class="width-1-2 pl-1 pr-15">
                    <div class="d-and-d-box white mb-0" style="padding-bottom: 5px; margin-bottom: 0">
                      <div class="d-and-d-deathsave d-and-d-save-success"><label>Successes</label>
                        <div style="display: inline-block;">
                          <div class="d-and-d-skill-circle"></div>
                          =
                          <div class="d-and-d-skill-circle"></div>
                          =
                          <div class="d-and-d-skill-circle"></div>
                        </div>
                      </div>
                      <div class="d-and-d-deathsave d-and-d-save-failure"><label>Failures</label>
                        <div style="display: inline-block;">
                          <div class="d-and-d-skill-circle"></div>
                          =
                          <div class="d-and-d-skill-circle"></div>
                          =
                          <div class="d-and-d-skill-circle"></div>
                        </div>
                      </div>
                      <label class="d-and-d-title" style="margin-top: 6px;">Death Saves</label></div>
                  </div>
                </div>
              </div>
              <div class="d-and-d-box mt-3">
                <table class="d-and-d-table">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th style="width: 70px;">Atk Bonus</th>
                    <th>Damage/Type</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                  </tr>
                  <tr>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                  </tr>
                  <tr>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                    <td><input type="text" value=""></td>
                  </tr>
                  </tbody>
                </table>
                <textarea rows="5"></textarea><label class="d-and-d-title" style="margin-top: 10px;">Attacks &amp;
                Spellcasting</label></div>
              <div class="d-and-d-box mt-4">
                <div class="row currency-container">
                  <div class="currency-first-row">
                    <div style="width: 100px;">
                      <div class="d-and-d-currency">
                        <div class="d-and-d-currency-label"><label>CP</label></div>
                        <div class="d-and-d-currency-value"><input type="text" value=""></div>
                      </div>
                      <div class="d-and-d-currency">
                        <div class="d-and-d-currency-label"><label>SP</label></div>
                        <div class="d-and-d-currency-value"><input type="text" value=""></div>
                      </div>
                      <div class="d-and-d-currency">
                        <div class="d-and-d-currency-label"><label>EP</label></div>
                        <div class="d-and-d-currency-value"><input type="text" value=""></div>
                      </div>
                      <div class="d-and-d-currency">
                        <div class="d-and-d-currency-label"><label>GP</label></div>
                        <div class="d-and-d-currency-value"><input type="text" value=""></div>
                      </div>
                      <div class="d-and-d-currency">
                        <div class="d-and-d-currency-label"><label>PP</label></div>
                        <div class="d-and-d-currency-value"><input type="text" value=""></div>
                      </div>
                    </div>
                    <div class="col pr-15 pl-15"><textarea class="d-and-d-equipment-indent" rows="10"></textarea></div>
                  </div>
                  <div class="pr-15 pl-15"><textarea rows="4"></textarea></div>
                </div>
                <label class="d-and-d-title" style="margin-top: 10px;">Equipment</label></div>
            </div>
            <div class="character-statistics-column">
              <div class="d-and-d-box gray" style="margin-bottom: 15px; line-height: 16px">
                <div class="d-and-d-box white"
                     style="border-radius: 8px 8px 0 0; margin-bottom: 5px; padding-top: 1px; padding-bottom: 5px;">
                  <textarea formControlName="personalityTraits" [value]="initialValues.personalityTraits" rows="3"></textarea><label class="d-and-d-title">Personality
                  Traits</label></div>
                <div class="d-and-d-box white"
                     style="border-radius: 0; margin-bottom: 5px; padding-top: 1px; padding-bottom: 5px;"><textarea
                  formControlName="ideals"
                  [value]="initialValues.ideals"
                  rows="3"></textarea><label class="d-and-d-title">Ideals</label></div>
                <div class="d-and-d-box white"
                     style="border-radius: 0; margin-bottom: 5px; padding-top: 1px; padding-bottom: 5px;"><textarea
                  formControlName="bonds"
                  [value]="initialValues.bonds"
                  rows="2"></textarea><label class="d-and-d-title">Bonds</label></div>
                <div class="d-and-d-box white"
                     style="border-radius: 0 0 8px 8px; margin-bottom: 0; padding-top: 1px; padding-bottom: 4px;">
                  <textarea formControlName="flaws" [value]="initialValues.flaws" rows="2"></textarea><label class="d-and-d-title">Flaws</label>
                </div>
              </div>
              <div class="d-and-d-box mt-3"><textarea [value]="initialValues.traits" rows="27"
                                                      style="padding-bottom: 5px;"></textarea><label
                class="d-and-d-title" style="margin-top: 10px;">Features &amp; Traits</label></div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Second">
        <div class="character-sheet-container">
          <div>
            <div class="row character-details-header">
              <div class="character-name-column">
                <div class="d-and-d-page-title">D&amp;D</div>
                <div class="attribute-collection character-name"><input type="text" formControlName="name" [value]="initialValues.name"></div>
                <label style="width: 100%; text-align: right; text-transform: uppercase; font-size: 11px;">Character
                  Name</label></div>
              <div class="character-details-column">
                <div class="attribute-collection">
                  <div class="row padding-left-right">
                    <div class="col-md-4 col-6 pl-0 pr-0"><input type="text" formControlName="age" [value]="initialValues.age"><label>Age</label></div>
                    <div class="col-md-4 col-6 pl-0 pr-0"><input type="text" formControlName="height" [value]="initialValues.height"><label>Height</label></div>
                    <div class="col-md-4 col-6 pl-0 pr-0"><input type="text" formControlName="weight" [value]="initialValues.weight"><label>Weight</label></div>
                  </div>
                  <div class="row padding-left-right">
                    <div class="col-md-4 col-6 pl-0 pr-0"><input type="text" value=""><label>Eyes</label></div>
                    <div class="col-md-4 col-6 pl-0 pr-0"><input type="text" value=""><label>Skin</label></div>
                    <div class="col-md-4 col-6 pl-0 pr-0"><input type="text" value=""><label>Hair</label></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row character-statistics-container">
              <div class="character-statistics-column">
                <div class="d-and-d-box square">
                  <app-image-upload [imagePreview]="IMAGE_URL + initialValues.image" [withButtons]="false" [displayCenter]="true" ></app-image-upload>
                  <label class="d-and-d-title" style="margin-top: 10px;">Character Appearance</label></div>
                <div class="d-and-d-box mt-3"><textarea rows="26" style="padding-bottom: 5px;"></textarea><label
                  class="d-and-d-title" style="margin-top: 10px;">Character Backstory</label></div>
              </div>
              <div class="character-statistics-column wide-column">
                <div class="d-and-d-box">
                  <div class="row">
                    <div class="col-md-6 border-right padding-left-right">
                      <textarea rows="16" style="padding-bottom: 5px;"></textarea></div>
                    <div class="col-md-6 padding-left-right">
                      <div class="d-and-d-box gray noborder" style="margin-bottom: 13px; padding: 2px">
                        <div class="d-and-d-faction-input"><label>Faction Name</label><input type="text" value=""></div>
                        <div class="d-and-d-image faction">
                          <app-image-upload [withButtons]="false" [displayCenter]="true"></app-image-upload>
                        </div>
                      </div>
                    </div>
                  </div>
                  <label class="d-and-d-title" style="margin-top: 10px;">Allies &amp; Organisations</label></div>
                <div class="d-and-d-box mt-3">
                  <div class="row">
                    <div class="col-md-6 border-right padding-left-right"><textarea rows="13" style="padding-bottom: 5px;"></textarea></div>
                    <div class="col-md-6 padding-left-right"><textarea rows="13" style="padding-bottom: 5px;"></textarea></div>
                  </div>
                  <label class="d-and-d-title" style="margin-top: 10px;">Additional Features &amp; Traits</label></div>
                <div class="d-and-d-box mt-3">
                  <div class="row">
                    <div class="col-md-6 border-right padding-left-right">
                      <div class="d-and-d-statrow m-2 rounded rounded-sides wide-input">
                        <div class="d-and-d-statrow-value"><input type="text" value=""></div>
                        <div class="d-and-d-statrow-label"><label>Total Non-Consumable Magic Items</label></div>
                      </div>
                      <textarea rows="8" style="padding-bottom: 5px; margin-top: 2px;"></textarea></div>
                    <div class="col-md-6 padding-left-right"><textarea rows="10" style="padding-bottom: 5px; margin-top: 4px;"></textarea>
                    </div>
                  </div>
                  <label class="d-and-d-title" style="margin-top: 4px;">Treasure</label></div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Third"> Content 3</mat-tab>
    </mat-tab-group>
  </form>
}



