<button mat-raised-button routerLink="/players">Back</button>

<div class="character-sheet-container">
  <div class="row mb-4 character-details-header">
    <div class="character-name-column">
      <div class="d-and-d-page-title">D&amp;D</div>
      <div class="attribute-collection character-name pr-3 pl-3"><input type="text" value="fgd"></div>
      <label style="width: 100%; text-align: right; text-transform: uppercase; font-size: 11px;">Character Name</label>
    </div>
    <div class="character-details-column">
      <div class="attribute-collection pr-3 pl-3">
        <div class="row padding-left-right">
          <div class="col-md-3 col-6 pl-0 pr-0"><input type="text" value=""><label>Class &amp; Level</label></div>
          <div class="col-md-3 col-6 pl-0 pr-0"><input type="text" value=""><label>Background</label></div>
          <div class="col-md-3 col-6 pl-0 pr-0"><input type="text" value=""><label>Player Name</label></div>
        </div>
        <div class="row padding-left-right">
          <div class="col-md-3 col-6 pl-0 pr-0"><input type="text" value=""><label>Race</label></div>
          <div class="col-md-3 col-6 pl-0 pr-0"><input type="text" value=""><label>Alignment</label></div>
          <div class="col-md-3 col-6 pl-0 pr-0"><input type="text" value=""><label>Experience Points</label></div>
        </div>
      </div>
    </div>
  </div>
</div>

