.players-characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 20px;

  .player-character-card {
    width: 300px;
    height: 475px;
    margin-right: 20px;
    margin-top: 20px;

    mat-card-content {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .content-section {
      display: flex;
      flex-direction: column;
      height: 130px;

      mat-card-content {
        flex-grow: 1;
        overflow: auto;
      }

      mat-card-actions {
        margin-top: auto;
      }
    }
  }
}
