<button mat-raised-button routerLink="/create-character" color="primary">Create New Character</button>

<div class="players-characters-container">
  @for (playerCharacter of playersCharacters(); track playerCharacter._id) {
    <mat-card class="player-character-card">
      <mat-card-header>
        <mat-card-title>{{ playerCharacter.name }}</mat-card-title>
        <mat-card-subtitle>{{ playerCharacter.race }} {{ playerCharacter.subrace }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [ngSrc]="IMAGE_URL + playerCharacter.image" alt="player picture" width="300" height="300">
      <mat-card-content>
        <span>{{ playerCharacter.className }}</span>
        <span>Level: {{ playerCharacter.level }}</span>
      </mat-card-content>

      <mat-divider></mat-divider>

      <mat-card-actions>
        <button mat-button routerLink="/edit-character/{{ playerCharacter._id }}">Edit</button>
        <button mat-button (click)="deletePlayerCharacter(playerCharacter._id)">Delete</button>
      </mat-card-actions>
    </mat-card>
  }
</div>
