.login-card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  .submit-button {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }

  .login-section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;

    mat-form-field {
      width: 100%;
    }
  }

  .signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    margin-bottom: 0;
  }

}


