<div class="login-card">
  <div class="login-section">
    <h2>Log in</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </p>

      <div class="submit-button">
        <button mat-raised-button type="submit" [disabled]="loginForm.invalid" color="primary">Log in</button>
      </div>
    </form>
  </div>

  <div class="signup-section">
    <button mat-raised-button (click)="openRegister()" color="accent">Sign up</button>
  </div>
</div>
