.close-button {
  //position: absolute;
  //top: 0;
  //right: 0;
  //z-index: 1000;
}
:host {
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

p {
  margin-bottom: 0;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
