<div mat-dialog-title class="dialog-title">
  <span>Sign up</span>
  <button mat-icon-button aria-label="Close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<form mat-dialog-content [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>
  </p>
  <button [disabled]="signUpForm.invalid" mat-raised-button color="primary" type="submit">Sign up</button>
</form>
