<button mat-raised-button routerLink="/create-campaign" color="primary">Create New Campaign</button>

<div class="campaigns">
  @for (campaign of campaigns(); track campaign.id) {
    <mat-card class="campaign-card">
      <mat-card-header>
        <mat-card-title>{{ campaign.title }}</mat-card-title>
        <mat-card-subtitle>{{ campaign.gameSystem }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [ngSrc]="campaign.image ? 'http://localhost:3000/images/' + campaign.image : DEFAULT_CAMPAIGN_IMAGE" alt="campaign picture" width="400" height="300">
      <div class="content-section">
        <mat-card-content appEllipsis>
          <p>
            {{ campaign.description }}
          </p>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
          <button mat-button (click)="selectCampaign(campaign.id)">Select</button>
          <button mat-button (click)="editCampaign(campaign.id)">Edit</button>
          <button mat-button (click)="deleteCampaign(campaign.id)">Delete</button>
        </mat-card-actions>
      </div>
    </mat-card>
  }
</div>
