<input type="file" (change)="onFileSelected($event)" class="file-input" [formControl]="imageControl" #fileUpload>
<div class="file-upload">
  <div class="file-upload-actions">
    <button mat-raised-button color="primary" (click)="fileUpload.click(); $event.preventDefault()">
      Upload Image
    </button>

    <button mat-raised-button (click)="onRemoveImage(); $event.preventDefault()">Remove Image</button>
  </div>

  <div class="file-preview" [ngClass]="{'dashed-border': !imagePreview}" (click)="fileUpload.click(); $event.preventDefault()">
    @if (imagePreview) {
      <img [src]="imagePreview" width="300" height="300" alt="Image preview">
    } @else {
      <p>No image selected</p>
    }
  </div>
</div>
