<button mat-raised-button routerLink="/campaigns">Back</button>

<h1>Create a New Campaign</h1>
<div class="create-campaign-form">
  <form [formGroup]="createCampaignForm" (ngSubmit)="onCreateCampaignSubmit()" enctype="multipart/form-data">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Campaign Title" formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput rows="5" placeholder="Campaign Description" formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Game System</mat-label>
      <mat-select formControlName="gameSystem">
        @for (gameSystem of gameSystems; track gameSystem) {
          <mat-option [value]="gameSystem">{{gameSystem}}</mat-option>
        }
      </mat-select>
    </mat-form-field>


    <input type="file" (change)="onFileSelected($event)" formControlName="image" class="file-input" #fileUpload>
    <div class="file-upload">
      <div class="file-upload-actions">
        <button mat-raised-button color="primary" (click)="fileUpload.click(); $event.preventDefault()">
          Upload Image
        </button>

        <button mat-raised-button (click)="onRemoveImage(); $event.preventDefault()">Remove Image</button>
      </div>

      <div class="file-preview" [ngClass]="{'dashed-border': !imagePreview}" (click)="fileUpload.click(); $event.preventDefault()">
        @if (imagePreview) {
          <img [src]="imagePreview" width="400" height="300" alt="Image preview">
        } @else {
          <p>No image selected</p>
        }
      </div>
    </div>

    <button [disabled]="createCampaignForm.invalid" mat-raised-button color="primary" type="submit">{{ campaignId ? 'Update Campaign' : 'Create Campaign' }}</button>

  </form>
</div>

